#logo.titolo {
    padding: 1%;
    font-size: 40px;

}

header {
    margin: 2px;
    padding: 7px
}

#logo.titolo {
    padding: 1%;
    font-size: 40px;

}

main {
    padding: 7%;
}

#titolo {
    font-size: 35px;
    margin: 3px;
    padding: 5px;
    vertical-align: top;
}

.blue {
    color: #FFF;
    background-color: #59CFED;
    border-color: #59CFED;
}

.white {
    color: lightgray;
    background-color: white;
    border-color: lightgray;
}

button {
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    padding: 5px 20px;
    margin: 5px 10px;
}

.sottotitolo {
    content: \25BE’;
    color: black;
    margin-right: 8px;
    font-size: 22px;
}

li::marker {
    display: none;
    content: ‘’;
}

li::before {
    content: \2713’;
    color: green;
    border-radius: 20px;
    border: 1px solid green;
}

li {
    margin: 10px 0px;
}

li::marker {
    display: none;
    content: ‘’;
}

li::before {
    content: \2713’;
    color: green;
    border-radius: 20px;
    border: 1px solid green;
    margin-right: 8px;
    padding: 2px 5px;
}

#button1 {
    background-color: #59CF
}

#button2 {
    background-color: #59CF;
}

#button8 {
    background-color: #59CF;
}

#button3 {
    background-color: rgb(145, 85, 204);
}

#button4 {
    background-color: rgb(85, 204, 85);
}

#button5 {
    background-color: rgba(204, 184, 85, 0.707);
}

#button6 {
    background-color: rgb(204, 85, 186);
}

#button7 {
    background-color: rgb(141, 204, 85);
}